* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.submit-button {
    display: block;
    margin-top: 10px;
}


.dog-image-results img {
    max-width: 500px;
    max-height: 500px;
    display: block;
}

.error-message {
    color: red;
    font-weight: bold;
}

.success-message {
  color: green;
  font-weight: bold;
}